.slide-up-content__body {
  background-color: #eee;
  min-height: 100vh;
  padding-left: var(--main-content-side-padding);
  padding-right: var(--main-content-side-padding);
  position: relative;
  top: var(--slide-up-content-header-height);
}
