:root {
  --slide-up-content-header-height: 340px;
}

.slide-up-content {
  margin-top: calc(var(--main-content-vertical-padding) * -1);
  margin-left: calc(var(--main-content-side-padding) * -1);
  margin-right: calc(var(--main-content-side-padding) * -1);
}

@media screen and (min-width: 1000px) {
  :root {
    --slide-up-content-header-height: 200px;
  }
}
