$mdc-theme-primary: #487eb0;
$mdc-theme-secondary: #76ff03;
$mdc-theme-background: #fff;

@import '~@material/react-top-app-bar/index.scss';
@import '~@material/react-material-icon/index.scss';
@import "~@material/react-drawer/index.scss";
@import '~@material/react-list/index.scss';

@import '~@material/react-typography/index';
@import '~@material/react-text-field/index';
@import "~@material/list/mdc-list";
@import "~@material/menu-surface/mdc-menu-surface";
//@import "~@material/menu/mdc-menu";
@import "~@material/menu/dist/mdc.menu.css";
@import '~@material/react-select/index';
//@import '~@material/react-fab/index';
@import '~@material/react-fab/dist/fab.css';

body {
  background: #eee;
}

#main-content {
  padding: 20px 15px 15px 15px;
}

.drawer-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
}

.drawer-app-content {
  flex: auto;
  overflow: auto;
}
