$mdc-theme-primary: #487eb0;
$mdc-theme-secondary: #018786;
$mdc-theme-background: #fff;

:root {
  --mdc-theme-primary: #487eb0;
  --mdc-theme-secondary: #018786;
  --top-app-bar-height: 64px;
  --main-content-vertical-padding: 20px;
  --main-content-side-padding: 15px;
  --drawer-width: 256px;
}

@import '~@material/react-top-app-bar/index.scss';
@import '~@material/react-material-icon/index.scss';
@import "~@material/react-drawer/index.scss";
@import '~@material/react-list/index.scss';

@import '~@material/react-typography/index';
@import '~@material/react-text-field/index';
@import "~@material/list/mdc-list";
@import "~@material/menu-surface/mdc-menu-surface";
//@import "~@material/menu/mdc-menu";
@import "~@material/menu/dist/mdc.menu.css";
@import '~@material/react-select/index';
//@import '~@material/react-fab/index';
@import '~@material/react-fab/dist/fab.css';
@import '~@material/react-linear-progress/index';
@import '~@material/react-button/dist/button.css';

body {
  background: #eee;
}

#main-content {
  padding: var(--main-content-vertical-padding) var(--main-content-side-padding);
}

.drawer-container {
  //display: flex;
  //flex-direction: row;
  height: 100vh;
  //overflow: hidden;
}

@media screen and (min-width: 1000px) {
  .mdc-drawer {
    position: fixed;
  }
  .drawer-app-content {
    margin-left: var(--drawer-width)
  }

  .slide-up-content {
    .slide-up-content__heading {
      width: calc(100% - var(--drawer-width) - calc(var(--main-content-side-padding) * 2));
    }

    .slide-up-content__heading-menu-toggle {
      display: none;
    }
  }
}

.drawer-app-content {
  //flex: auto;
  //overflow: auto;
}
