.simple-generator {
}



.simple-generator__app-content {
  background-color: #eee;
  margin-left: calc(var(--main-content-side-padding) * -1);
  margin-right: calc(var(--main-content-side-padding) * -1);
  padding-left: var(--main-content-side-padding);
  padding-right: var(--main-content-side-padding);
  display: flex;
  flex-direction: column;
}



.simple-generator__importers {
  margin: 0 calc(var(--main-content-side-padding) * -1);
  background: #f7f7f7;
  box-shadow: 0 0 8px -4px #000 inset;
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
.simple-generator__importers-item {
  margin: 20px 10px;
}
.simple-generator__importers-item-image {
  width: 75px;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}
.slide-up-content__heading--fully-hidden + .slide-up-content__body .simple-generator__importers {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
}
.slide-up-content__heading--fully-hidden + .slide-up-content__body .simple-generator__generator {
  margin-top: 240px;
}
@media screen and (min-width: 1000px) {
  .simple-generator__app-content {
    padding-top: 30px;
    flex-direction: column-reverse;
  }
  .simple-generator__importers {
    box-shadow: none;
    background-color: transparent;
  }
  .slide-up-content__heading--fully-hidden + .slide-up-content__body .simple-generator__importers {
    position: initial;
    width: initial;
  }
  .slide-up-content__heading--fully-hidden + .slide-up-content__body .simple-generator__generator {
    margin-top: 0;
  }
}



.simple-generator__generator {
  margin: 20px 0;
  padding-bottom: 60px;
}
.simple-generator__generator-execute-button {
  position: fixed;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

  @media screen and (min-width: 1000px) {
    position: relative;
    bottom: initial;
    left: initial;
    transform: none;
  }
}
.simple-generator__generator-inputs {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (min-width: 640px) {
    flex-direction: row;

    .mdc-text-field, .mdc-select {
      min-width: 300px;
    }
  }

  .mdc-text-field {
    margin-bottom: 15px;
  }
}
.simple-generator__generator-input-league-name,
.simple-generator__generator-input-number-teams {
  .mdc-text-field, .mdc-select { display: block; }

  margin-bottom: 15px;
}
.simple-generator__generator-teams {
    .mdc-text-field { display: block; }
}
@media screen and (min-width: 400px) {
  .simple-generator__generator-teams {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-column-gap: 10px;
  }
}
.simple-generator__generator-team-input {
  .mdc-text-field { display: block; }
  .mdc-text-field-helper-text { display: none; }

  margin-bottom: 15px;
}
